@import "tailwindcss";



@theme {
  --animate-glitch: glitch 0.2s ease-in-out infinite;

  @keyframes glitch {
    0% { transform: translate(0); text-shadow: 2px 2px #ff00ff, -2px -2px #00ffff; }
    25% { transform: translate(-2px, 2px); text-shadow: -2px -2px #ff00ff, 2px 2px #00ffff; }
    50% { transform: translate(2px, -2px); text-shadow: 3px -3px #ff00ff, -3px 3px #00ffff; }
    75% { transform: translate(-2px, -2px); text-shadow: -1px 3px #ff00ff, 1px -3px #00ffff; }
    100% { transform: translate(0); }
  }
}
